# IDEs
.idea/
*.Rproj

# Hugo
resources/
public/
jsconfig.json
node_modules/
go.sum
.hugo_build.lock

# Hugo installation files
hugo_extended_*.deb
hugo_extended_*.tar.gz
hugo_*.zip

# Theme template files
theme.toml
preview.png
